<!-- Topbar View -->
<%= link_to '/' do %>
  <div id='topbar' style = 'display: flex; '>
    <div style = 'margin-left: auto; margin-top: 10px;'>
      <%= image_tag 'logo.svg' %>
    </div>
      <span style = 'font-family: serif; font-size: 1.5em; margin-top: auto; margin-bottom: auto; margin-left: 20px; margin-right: auto;'>
        FastTalk
      </span>
  </div>
<% end %>
