<!-- View for landing page -->

<div class='landing-page' style = "align-self: center; display: flex; flex-direction: column;">

  <h1 style = 'margin-right: 0px;'>
    Show and Tell
  </h1>

  <%= link_to "/sessions/new" do %>
    <button class = 'create'>
      Create session
    </button>
  <% end %>


</div>
