/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*
COLOUR NOTES
Charcoal      #373737
Paper         #f4f4f4
Silk          #DCD0C0
Pale Gold     #C0B283
*/


 body {
   background-color: #FCFCFC;
   color: #373737;
   margin: 0px;
   margin-bottom: 60px;
   display: flex;
   flex-direction: column;
   font-family: verdana, arial, helvetica, sans-serif;
   font-size: 13px;
   line-height: 18px;
 }

 h1 {
   margin-right: 0px;
   font-size: 4em;
 }

 h2 {
   font-size: 2em;
   margin-right: auto;
   margin-top: 5px;
 }

 label {
   /*margin-right: 40px;*/
   display: block;
 }

 input {
   margin-top: 2px;
 }

 a {
   color: inherit;
   text-decoration: none;

   &:visited {
     color: inherit;
   }

   &:hover {
     color: #fff;
     background-color: #000;
   }
 }

img {
  margin-top: 0px;
  height: 30px;
}

.create {
  cursor: pointer;
  font-size: 2em;
  padding: 20px;
  width: fit-content;
  height: 80px;
  background-color: #DCD0C0;
  color: #373737;
  border-radius: 5px;
  box-shadow: 1px 2px 5px #413304;
}

.landing-page a {
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
}

 .field {
   margin-bottom: 10px;
 }

 .slot {
   border-radius: 5px;
   background-color: #DBDBDB;
   color: inherit;
   width: 800px;;
   height: 100px;
   margin: 0px;
   margin-top: 20px;
   margin-right: auto;
   margin-left: auto;
   padding: 20px;
   /*border: 2px solid #C0B283;*/
   box-shadow: 2px 2px 5px #413304;
 }

 .empty-slot {
   text-align: center;
   font-size: 2em;
   line-height: 100px;
 }

 .form {
   border-radius: 5px;
   background-color: #DBDBDB;
   color: inherit;
   width: 400px;
   height: 400px;
   margin-top: 60px;
   padding: 20px;
   /*border: 2px solid #C0B283;*/
   box-shadow: 2px 2px 5px #413304;
 }

 #topbar {
   width: 100vw;
   height: 50px;
   background-color: #9A8C5D;
   box-shadow: 2px 2px 5px #373737;
   color: #FCFCFC;
 }


  #share-url {
    padding: 10px;
    padding-bottom: 5px;
    width: fit-content;
    display: flex;
    margin-bottom: 40px;
    /*background-color: #E7D9AA;*/
    border-radius: 5px;
    box-shadow: 1px 1px 3px #9D9D9D
  }

  #url {
    margin-left: 20px;
    margin-bottom: auto;
    margin-top: auto;
    font-size: 1.3em;
    color: #9D9D9D;
  }

  #remove {
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 20px;
    font-size: 1.3em;
    color: #848484;
    cursor: pointer;
  }

  #copy {
    cursor: pointer;
  }

 /* Given styles below*/


 p, ol, ul, td {
   font-family: verdana, arial, helvetica, sans-serif;
   font-size: 13px;
   line-height: 18px;
 }

 pre {
   background-color: #eee;
   padding: 10px;
   font-size: 11px;
 }



 th {
   padding-bottom: 5px;
 }

 td {
   padding: 0 5px 7px;
 }

 div {
   &.field, &.actions {
     margin-bottom: 10px;
   }
 }

 #notice {
   color: green;
 }

 .field_with_errors {
   padding: 2px;
   background-color: red;
   display: table;
 }

 #error_explanation {
   width: 450px;
   border: 2px solid red;
   padding: 7px 7px 0;
   margin-bottom: 20px;
   background-color: #f0f0f0;



   ul li {
     font-size: 12px;
     list-style: square;
   }
 }
